{% extends "base.html" %}
{% load humanize %}


{% block content%}
	{% if request.user.is_authenticated %}
		<h2>{{ profile }}</h2>
	<hr>
	<br>
	{% for status in statutes %}
		<p>
			{% if status.author == profile.username %}
				<b>{{ status.author }}</b>
			{% else %}
				<b>{{ status.author }}</b> -> <b>{{ status.profile }}</b>
			{% endif %}
			<i>{{ status.date }}</i>
			<div class="status">{{ status }}</div>
		</p>
		<div class="border">
			{% if status.comment_set.all.count > 0 %}
				{% for comment in status.comment_set.all %}
					<p>
						<b>{{ comment.author }}</b> : {{ comment.content }}
						<br>
						<i>{{ comment.date|naturaltime }}</i>
					</p>
				{% endfor %}
			{% endif %}
			<div class="border">
				<form action="{% url "show_profile" profile.id  %}" method="post">
				    {% csrf_token %}
				    <input type="hidden" name="type_form" value="comment_status">
				    <input type="hidden" name="author" value="{{ profile.user.id }}">
				    <input type="hidden" name="status" value="{{ status.id }}">
				    {{ form.as_p }}
				    <input class="btn btn-primary" type="submit" value="Envoyer" />
				</form>
			</div>
		</div>
		<hr>
	{% endfor %}
		<br>
		<p>Laissez un statut sur ce profil : </p>
		<form action="{% url "show_profile" profile.id  %}" method="post">
		    {% csrf_token %}
		    <input type="hidden" name="type_form" value="profile_status">
		    <input type="hidden" name="author" value="{{ profile.user.id }}">
		    <input type="hidden" name="profile" value="{{ profile.id }}">
		    <p><input type="text" name="content" placeholder="Ajouter un status"></p>
		    <input class="btn btn-primary" type="submit" value="Envoyer" />
		</form>
	{% else %}
		<p>Connectez-vous ou inscrivez-vous, pour voir ce profil ! </p>
	{% endif %}
{% endblock%}
