{% extends "base.html" %}

{% block content%}
	<h2>{{ profile }}</h2>
	<hr>
	<h3>Statut(s)</h3>
	<br>
	{% for status in statutes %}
		<p>
			<b>{{ status.profile }}</b>
			<br>
			<i>{{ status.date }}</i>
			<br>
			{{ status }}
			<br>
		</p>
		{{ status. }}
		<div class="border">
			{% for comment in status.comment_set.all %}
				{{ comment.content }}
				<br>
				<i>{{ comment.date }}</i>
			{% endfor %}
		</div>
		<form action="{% url "show_profile" profile.id  %}" method="post">
		    {% csrf_token %}
		    <input type="hidden" name="author" value="{{ profile.id }}">
		    <input type="hidden" name="status" value="{{ status.id }}">
		    {{ form.as_p }}
		    <input type="submit" value="Submit" />
		</form>
	{% endfor %}
{% endblock%}
