{% extends "base.html" %}

{% block content%}
	<h2>{{ profile }}</h2>
	<hr>
	<br>
	{% for status in statutes %}
		<p>
			<h2>{{ status.profile.firstname }} {{ status.profile.lastname }}</h2>
			<i>{{ status.date }}</i>
			<div class="status">{{ status }}</div>
		</p>
		<div class="border">
			{% for comment in status.comment_set.all %}
				<p>
					<b>{{ comment.author.firstname }} {{ comment.author.lastname }}</b> : {{ comment.content }}
					<br>
					<i>{{ comment.date }}</i>
				</p>
			{% endfor %}
		</div>
		<form action="{% url "show_profile" profile.id  %}" method="post">
		    {% csrf_token %}
		    <input type="hidden" name="author" value="{{ profile.id }}">
		    <input type="hidden" name="status" value="{{ status.id }}">
		    {{ form.as_p }}
		    <input type="submit" value="Submit" />
		</form>
		<hr>
	{% endfor %}
{% endblock%}
